<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/user/register/" method="post">
        {% csrf_token %}
        <p>
            <lable>用户名</lable><input type="text" name="uname"/>
        </p>
        <p>
            <lable>密&emsp;码</lable><input type="password" name="upwd"/>
        </p>
        <p>
            <lable> 性 别</lable><input type="number" name="ugdr"/>
        </p>
        <p>
            <lable>手机号</lable><input type="text" name="uphone"/>
        </p>
        <p>
            <lable>身 份</lable><input type="number" name="ustatus"/>
        </p>
        <p>
            <input type="submit" value="注册"/>
        </p>

    </form>
</body>
</html>